@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: "Figtree", sans-serif;
    line-height: 1.5;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 100vh;
    background-color: hsl(47, 88%, 63%);
}
.card {
    width: 85%;
    background-color: hsl(0, 0%, 100%);
    padding: 22px;
    box-shadow: 6px 6px 1px 1px;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}
.card .img {
    width: 100%;
    height: 200px;
}
.card .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.learning {
    width: 100%;
    margin-top: 5px;
}
.learning span {
    background-color: hsl(47, 88%, 63%);
    color: black;
    font-weight: 800;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 3px;
}
.date {
    font-size: 13px;
    font-weight: 600;
    color: hsl(0, 0%, 7%);
}
.title {
    font-size: 10px;
    font-weight: 800;
}
.info {
    color: hsl(0, 0%, 42%);
    font-size: 14px;
    font-weight: 500;
}
.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}
.profile img {
    width: 30px;
}
.profile span{
    font-weight: 800;
    font-size: 14px;
}

@media (min-width: 380px) {
    main {
        width: 100%;
    }
    
    .card {
       width: 370px;
       gap: 15px;
    }
}