@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "outfit",sans-serif;
    background-color: hsl(212, 45%, 89%);
}
.container{
   background-color: white;
   padding: 20px;
   border-radius: 20px;
   width: 320px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: center;
   gap: 20px;
}
.qrcode img{
    width: 280px;
    border-radius: 15px;
}
.boldtext{
    font-size: 20px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}
.graytext{
    font-size: 16px;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}